<button
  class="pix-tabs__tab"
  id="{{@id}}-{{@index}}"
  type="button"
  role="tab"
  aria-selected={{if (eq @currentTab @index) "true" "false"}}
  aria-controls="{{@id}}-panel-{{@index}}"
  tabindex={{if (eq @currentTab @index) "0" "-1"}}
  {{on "click" (fn @onTabClick @index)}}
  {{on-space-action (fn @onTabClick @index)}}
>
  <div>
    {{yield}}
  </div>
</button>