<div class="pix-input-password {{if @inlineLabel ' pix-input-password--inline'}}">
  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @labelSize={{@labelSize}}
    @subLabel={{@subLabel}}
    @screenReaderOnly={{@screenReaderOnly}}
    @inlineLabel={{@inlineLabel}}
  >
    {{yield to="label"}}
  </PixLabel>
  <div>
    <div
      class="pix-input-password__container
        {{this.validationStatusClassName}}
        {{if @prefix 'pix-input-password__with-prefix'}}"
    >

      {{#if @prefix}}
        <span class="pix-input-password__prefix">{{@prefix}}</span>
      {{/if}}

      <input
        id={{this.id}}
        type={{if this.isPasswordVisible "text" "password"}}
        value={{@value}}
        aria-required="{{if @requiredLabel true false}}"
        required={{if @requiredLabel true false}}
        aria-describedby={{this.ariaDescribedBy}}
        ...attributes
      />

      <PixIconButton
        class="pix-input-password__button"
        @icon={{if this.isPasswordVisible "eye" "eye-slash"}}
        @ariaLabel={{if
          this.isPasswordVisible
          "Masquer le mot de passe"
          "Afficher le mot de passe"
        }}
        @triggerAction={{this.togglePasswordVisibility}}
        @size="small"
      />

      {{#if this.hasError}}
        <FaIcon @icon="xmark" class="pix-input-password__icon pix-input-password__error-icon" />
      {{/if}}
      {{#if this.hasSuccess}}
        <FaIcon @icon="check" class="pix-input-password__icon pix-input-password__success-icon" />
      {{/if}}
    </div>

    {{#if this.hasErrorMessage}}
      <p id={{this.ariaDescribedBy}} class="pix-input-password__error-message">
        {{@errorMessage}}
      </p>
    {{/if}}
  </div>
</div>