<div class="pix-input">
  {{#if @label}}
    <label for={{this.id}} class="pix-input__label">
      {{#if @requiredLabel}}
        <abbr title={{@requiredLabel}} class="mandatory-mark" aria-hidden="true">*</abbr>
      {{/if}}

      {{@label}}

      {{#if @information}}
        <span class="pix-input__information">{{@information}}</span>
      {{/if}}
    </label>
  {{/if}}

  <div class="pix-input__container">
    <input
      id={{this.id}}
      class={{if @errorMessage "pix-input__input--error"}}
      value={{@value}}
      aria-label={{this.ariaLabel}}
      aria-required="{{if @requiredLabel true false}}"
      required={{if @requiredLabel true false}}
      aria-describedby={{if @errorMessage "text-input-error"}}
      ...attributes
    />

    {{#if @errorMessage}}
      <FaIcon @icon="times" class="pix-input__error-icon" />
    {{/if}}
  </div>

  {{#if @errorMessage}}
    <p id="text-input-error" class="pix-input__error-message">{{@errorMessage}}</p>
  {{/if}}
</div>