<div class="pix-collapsible">

  <button
    class="pix-collapsible__title"
    type="button"
    {{on "click" this.toggleCollapsible}}
    aria-controls={{this.contentId}}
    aria-expanded={{if this.isUnCollapsed "true" "false"}}
    ...attributes
  >
    <span class="pix-collapsible-title__label">
      {{#if @titleIcon}}
        <FaIcon class="pix-collapsible-title__icon" @icon={{@titleIcon}} />
      {{/if}}

      {{#if (has-block "title")}}
        {{yield to="title"}}
      {{else}}
        {{this.title}}
      {{/if}}
    </span>

    <FaIcon
      class="pix-collapsible-title__toggle-icon"
      @icon="{{if this.isCollapsed 'chevron-down' 'chevron-up'}}"
    />
  </button>

  <div
    id={{this.contentId}}
    class="pix-collapsible__content"
    aria-hidden={{if this.isCollapsed "true" "false"}}
  >
    {{#if this.isContentRendered}}
      {{yield}}
    {{/if}}
  </div>
</div>