<div class='pix-tooltip' ...attributes>

  {{yield}}

  <span class='pix-tooltip__content pix-tooltip__content--{{this.position}} {{if @isInline 'pix-tooltip__content--inline'}}
    {{if @isLight 'pix-tooltip__content--light'}} {{if @isWide 'pix-tooltip__content--wide'}}'>
    {{@text}}
  </span>

</div>
