<div id={{this.mainId}} ...attributes>
  <PixLabel
    @for={{this.pixSelectId}}
    @requiredLabel={{@requiredText}}
    @labelSize={{@labelSize}}
    @subLabel={{@subLabel}}
    @screenReaderOnly={{@screenReaderOnly}}
    @inlineLabel={{@inlineLabel}}
  >
    {{yield to="label"}}
  </PixLabel>
  <div
    class="pix-filterable-and-searchable-select{{if
        @errorMessage
        ' pix-filterable-and-searchable-select--error'
      }}"
  >
    <PixMultiSelect
      id={{this.pixMultiSelectId}}
      @values={{this.selectedCategories}}
      @options={{this.categories}}
      @onChange={{this.selectCategories}}
      @screenReaderOnly={{true}}
      @className="pix-filterable-and-searchable-select__pix-multi-select"
    >
      <:label>{{yield to="categorieLabel"}}</:label>
      <:placeholder>{{this.categoriesPlaceholder}}</:placeholder>
      <:default as |option|>{{option.label}}</:default>
    </PixMultiSelect>
    <PixSelect
      {{did-insert this.setSelectWidth}}
      @id={{this.pixSelectId}}
      @placeholder={{@placeholder}}
      @value={{@value}}
      @options={{this.selectableOptions}}
      @onChange={{@onChange}}
      @isSearchable={{@isSearchable}}
      @searchLabel={{@searchLabel}}
      @screenReaderOnly={{true}}
      @hideDefaultOption={{@hideDefaultOption}}
      @className="pix-filterable-and-searchable-select__pix-select"
      @isComputeWidthDisabled={{true}}
    />
  </div>
  {{#if @errorMessage}}
    <p class="pix-filterable-and-searchable-select__error-message">{{@errorMessage}}</p>
  {{/if}}
</div>