<label
  for={{this.id}}
  class="pix-radio-button {{if this.isDisabled ' pix-radio-button--disabled'}}">
  <input
    id={{this.id}}
    disabled={{this.isDisabled}}
    aria-disabled="{{this.isDisabled}}"
    type="radio"
    value={{@value}}
    ...attributes
 />
  {{@label}}
</label>
