<div class='pix-tooltip' ...attributes>

  {{yield}}

  <span class='pix-tooltip__content pix-tooltip__content--{{this.position}} {{this.inlineClass}} {{concat (if @light 'pix-tooltip__content--light') (if @wide ' pix-tooltip__content--wide')}}'>
    {{@text}}
  </span>

</div>
