<button
  type="button"
  class="pix-icon-button pix-icon-button--{{this.size}}
    {{if @withBackground ' pix-icon-button--background'}}"
  {{on "click" this.triggerAction}}
  ...attributes
>
  <span class="screen-reader-only">{{this.ariaLabel}}</span>
  <PixIcon
    class="pix-icon-button__icon pix-icon-button__icon--{{this.size}}"
    @ariaHidden={{true}}
    @name={{@iconName}}
    @plainIcon={{@plainIcon}}
  />
</button>