<div class="pix-search-input {{if @inlineLabel ' pix-search-input--inline'}}">
  <PixLabel
    @for={{this.searchInputId}}
    @requiredLabel={{@requiredLabel}}
    @subLabel={{@subLabel}}
    @labelSize={{@labelSize}}
    @screenReaderOnly={{@screenReaderOnly}}
    @inlineLabel={{@inlineLabel}}
  >
    {{yield to="label"}}
  </PixLabel>

  <div class="pix-search-input__input-container">
    <FaIcon @icon="magnifying-glass" />
    <input
      id={{this.searchInputId}}
      class="pix-search-input__input"
      name={{@inputName}}
      placeholder={{@placeholder}}
      value={{this.initialValue}}
      {{on "input" this.onSearch}}
      ...attributes
    />
  </div>
</div>