<div class='pix-textarea'>
    <Textarea
      id={{@id}}
      @value={{@value}}
      maxlength={{if @maxlength @maxlength}}
      ...attributes
    />
  {{#if @maxlength}}
    <p>{{this.textLengthIndicator}} / {{@maxlength}}</p>
  {{/if}}
</div>
