<div class='pix-collapsible' ...attributes>
  <button
    type="button"
    {{on "click" this.toggleCollapsible}}
    class='pix-collapsible__title {{if this.isOpen '' 'pix-collapsible__title--open'}}'
  >
    <span>
      {{this.title}}
    </span>

    {{#if @withIcon}}
      <FaIcon @icon="{{if this.isCollapsed 'plus' 'minus'}}" class="pix-collapsible-title__icon" />
    {{/if}}
  </button>

  {{#if this.isCollapsed}}
    <div class='pix-collapsible__content'>
      {{yield}}
    </div>
  {{/if}}
</div>
