<div class='pix-input'>
  {{#if @label}}
    <label for={{this.id}} class="pix-input__label">{{@label}}</label>
  {{/if}}
  {{#if @information}}
    <label for={{this.id}} class="pix-input__information">{{@information}}</label>
  {{/if}}

  <input
    id={{this.id}}
    class="{{if @errorMessage "pix-input__input--error"}} {{if @icon "pix-input__input--icon"}}"
    ...attributes />

  {{#if @errorMessage}}
    <FaIcon @icon="times" class="pix-input__error-icon" />
    <label for={{this.id}} class="pix-input__error-message">{{@errorMessage}}</label>
  {{/if}}

  {{#if @icon}}
    <FaIcon @icon={{@icon}} class="pix-input__icon" />
  {{/if}}

</div>
