<div class="pix-radio-button {{@class}}">
  <input
    type="radio"
    id={{this.id}}
    class="pix-radio-button__input"
    value={{@value}}
    ...attributes
  />
  <label class="pix-radio-button__label" for={{this.id}}>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      <span>yield required to give a label for PixRadioButton.</span>
    {{/if}}
  </label>
</div>