<button type={{this.type}}
        class="pix-button pix-button--{{this.border}} pix-button--background-{{this.backgroundColor}}"
        {{on "click" this.triggerAction}}
        ...attributes
        disabled={{this.isLoading}}>
{{#if this.isLoading}}
  <div class="loader loader--{{@loading-color}}">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
 </div>
{{else}}
  {{yield}}
{{/if}}

</button>
