<div class={{this.className}}>
  <PixLabel
    @for={{this.id}}
    @screenReaderOnly={{@screenReaderOnly}}
    @subLabel={{@subLabel}}
    @size={{@size}}
    @inlineLabel={{@inlineLabel}}
  >{{yield to="label"}}</PixLabel>
  <button
    class="pix-toggle__button"
    id={{this.id}}
    aria-pressed={{if @toggled "true" "false"}}
    type="button"
    {{on "click" this.onToggle}}
  >
    <span class="pix-toggle__on">
      {{#if @onLabel}}
        {{@onLabel}}
      {{else}}
        {{yield to="on"}}
      {{/if}}
    </span>
    <span class="pix-toggle__off">
      {{#if @offLabel}}
        {{@offLabel}}
      {{else}}
        {{yield to="off"}}
      {{/if}}
    </span>
  </button>
</div>