<label class="pix-checkbox {{@class}}" for={{@id}}>
  <input
    id={{@id}}
    type="checkbox"
    class={{this.inputClasses}}
    checked={{@checked}}
    ...attributes
  />

  {{#if (has-block)}}
    <span class={{this.labelClasses}}>{{yield}}</span>
  {{else}}
    <span>
      yield required to give a label for PixCheckbox
      {{@id}}.
    </span>
  {{/if}}
</label>