<div class="pix-input-password">
  {{#if this.label}}
    <label for={{this.id}} class="pix-input__label">
      {{#if @requiredLabel}}
        <abbr title={{@requiredLabel}} class="mandatory-mark" aria-hidden="true">*</abbr>
      {{/if}}

      {{this.label}}

      {{#if @information}}
        <span class="pix-input__information">{{@information}}</span>
      {{/if}}
    </label>
  {{/if}}
  <div
    class="pix-input-password__container
      {{if @errorMessage 'pix-input-password__error-container'}}
      {{if @prefix 'pix-input-password__with-prefix'}}"
  >

    {{#if @prefix}}
      <span class="pix-input-password__prefix">{{@prefix}}</span>
    {{/if}}

    <input
      id={{this.id}}
      type={{if this.isPasswordVisible "text" "password"}}
      value={{@value}}
      aria-label={{this.ariaLabel}}
      aria-required="{{if @requiredLabel true false}}"
      required={{if @requiredLabel true false}}
      aria-describedby={{if @errorMessage "text-input-password-error"}}
      ...attributes
    />

    <PixIconButton
      class="pix-input-password__button {{if @errorMessage ' pix-input-password__error-button'}}"
      @icon={{if this.isPasswordVisible "eye" "eye-slash"}}
      @ariaLabel={{if this.isPasswordVisible "Masquer le mot de passe" "Afficher le mot de passe"}}
      @triggerAction={{this.togglePasswordVisibility}}
      @size="small"
    />

    {{#if @errorMessage}}
      <FaIcon @icon="xmark" class="pix-input-password__error-icon" />
    {{/if}}
  </div>

  {{#if @errorMessage}}
    <p id="text-input-password-error" class="pix-input__error-message">{{@errorMessage}}</p>
  {{/if}}
</div>