<div class="pix-textarea {{if @inlineLabel ' pix-textarea--inline'}}">
  {{#if (has-block "label")}}
    <PixLabel
      @for={{this.id}}
      @requiredLabel={{@requiredLabel}}
      @subLabel={{@subLabel}}
      @size={{@size}}
      @screenReaderOnly={{@screenReaderOnly}}
      @inlineLabel={{@inlineLabel}}
    >
      {{yield to="label"}}
    </PixLabel>
  {{/if}}

  <div class="pix-textarea__container">
    <textarea
      id={{this.id}}
      maxlength={{if @maxlength @maxlength}}
      aria-required="{{if @requiredLabel true false}}"
      required={{if @requiredLabel true false}}
      class="pix-textarea-container__input {{if @errorMessage 'pix-textarea--error'}}"
      {{on "keyup" this.updateValue}}
      ...attributes
    >{{@value}}</textarea>

    {{#if @maxlength}}
      {{! prettier-ignore }}
      <p class="pix-textarea-container__text-length-indicator">{{this.textLengthIndicator}} / {{@maxlength}}</p>
    {{/if}}

    {{#if @errorMessage}}
      <label for={{this.id}} class="pix-textarea-container__error-message">{{@errorMessage}}</label>
    {{/if}}
  </div>

</div>