<div class="pix-selectable-tag {{if @checked ' pix-selectable-tag--checked'}}">
  <input
    type="checkbox"
    id={{@id}}
    {{on "change" this.toggleIsChecked}}
    checked={{@checked}}
    ...attributes
  />
  <label for={{@id}}>{{@label}}</label>
</div>