<div
  id="{{this.modalId}}"
  class="pix-modal__overlay {{unless @showModal ' pix-modal__overlay--hidden'}}"
  {{on "click" this.closeAction}}
  {{trap-focus @showModal}}
  {{on-escape-action this.closeAction}}
>
  <div
    class="pix-modal"
    role="dialog"
    aria-labelledby="modal-title--{{this.modalId}}"
    aria-describedby="modal-content--{{this.modalId}}"
    aria-modal="true"
    {{on "click" this.stopPropagation}}
    ...attributes
  >
    <div class="pix-modal__header">
      <h1 id="modal-title--{{this.modalId}}" class="pix-modal__title">{{@title}}</h1>
      <PixIconButton
        @icon="xmark"
        @triggerAction={{this.closeAction}}
        @ariaLabel="Fermer"
        @size="small"
        @withBackground={{true}}
        class="pix-modal__close-button"
      />
    </div>
    <div id="modal-content--{{this.modalId}}" class="pix-modal__content">
      {{yield to="content"}}
    </div>
    <div class="pix-modal__footer">
      {{yield to="footer"}}
    </div>
  </div>
</div>