<div class='pix-collapsible {{if this.isUnCollapsed 'pix-collapsible--uncollapsed'}}'>

  <button
    type="button"
    {{on "click" this.toggleCollapsible}}
    class='pix-collapsible__title {{if this.isUnCollapsed 'pix-collapsible__title--uncollapsed'}}'
    aria-controls={{this.contentId}}
    aria-expanded={{if this.isUnCollapsed 'true' 'false'}}
    ...attributes
  >
    <span>
      {{#if @titleIcon}}
        <FaIcon @icon={{@titleIcon}} class="pix-collapsible-title__icon" />
      {{/if}}
      {{this.title}}
    </span>

    <FaIcon
      @icon="{{if this.isCollapsed 'plus' 'minus'}}"
      class="pix-collapsible-title__icon" />
  </button>

  <div
    id={{this.contentId}}
    aria-hidden={{if this.isCollapsed 'true' 'false'}}
    class='pix-collapsible__content {{if this.isUnCollapsed "pix-collapsible__content--uncollapse"}}' >
      {{yield}}
  </div>
</div>
