{{! template-lint-disable no-down-event-binding }}
<div class="pix-input-code">
  <fieldset aria-describedby="pix-input-code__details-of-use">
    <p id="pix-input-code__details-of-use">{{this.explanationOfUse}}</p>
    <legend>{{this.legend}}</legend>
    {{#each this.numberOfIterations as |i|}}
      <input
        ...attributes
        id="code-input-{{i}}"
        type="{{this.inputType}}"
        aria-label="{{this.ariaLabel}} {{i}}"
        class="pix-input-code__input"
        min="1"
        max="9"
        autocomplete="off"
        placeholder="{{this.placeholder}}"
        {{on "keydown" this.handleArrowUpOrDown}}
        {{on "keyup" (fn this.handleKeyUp i)}}
        {{on "input" (fn this.handleCodeInput i)}}
        {{on "paste" (fn this.handlePaste i)}}
        {{on "focus" (fn this.handleFocus i)}}
      />
    {{/each}}
  </fieldset>
</div>