<div class="pix-filter-banner" ...attributes>
  {{#if this.displayTitle}}
    <div class="pix-filter-banner__container-title">
      <p class="pix-filter-banner__title">{{@title}}</p>
    </div>
  {{/if}}

  <div class="pix-filter-banner__container-filter">
    {{yield}}
  </div>

  {{#if this.displayActionMenu}}
    <div class="pix-filter-banner__container-action">
      {{#if this.displayDetails}}
        <p class="pix-filter-banner__details">{{@details}}</p>
      {{/if}}

      {{#if this.displayClearFilters}}
        <div class="pix-filter-banner__button-container">
          <PixButton
            class="pix-filter-banner__button"
            @shape="squircle"
            @size="small"
            @triggerAction={{@onClearFilters}}
            @iconBefore="trash-can"
            @prefixIconBefore="far"
          >
            {{@clearFiltersLabel}}
          </PixButton>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>