<div class='pix-textarea' ...attributes>
  {{#if @maxlength}}
    <Textarea
      id={{@id}}
      @value={{@value}}
      @maxlength={{@maxlength}}
    />
    <p>{{this.textLengthIndicator}} / {{@maxlength}}</p>
  {{else}}
    <Textarea id={{@id}} @value={{@value}} />
  {{/if}}
</div>
