<div class="pix-banner" ...attributes>
  <div class="pix-banner__content">{{yield}}</div>
  {{#if this.displayAction}}
    {{#if this.isExternalLink}}
      <a class="pix-banner__action" href={{@actionUrl}}>{{@actionLabel}}</a>
    {{else}}
      <LinkTo class="pix-banner__action" @route={{@actionUrl}}>{{@actionLabel}}</LinkTo>
    {{/if}}
  {{/if}}
</div>
