<div
  class="pix-tooltip {{if this.isTooltipVisible 'pix-tooltip--visible' ''}}"
  {{on-escape-action this.hideTooltip}}
  {{on "mouseover" this.showTooltip}}
  {{on "mouseleave" this.hideTooltipOnMouseOut}}
  {{on "focusin" this.showTooltip}}
  {{on "focusout" this.hideTooltip}}
  ...attributes
>
  {{#if (has-block "triggerElement")}}
    <span class="pix-tooltip__trigger-element">
      {{yield to="triggerElement"}}
    </span>
  {{/if}}

  {{#if (has-block "tooltip")}}
    {{#if this.display}}
      <span
        id={{@id}}
        role="tooltip"
        class="pix-tooltip__content pix-tooltip__content--{{this.position}}
          {{if @isInline 'pix-tooltip__content--inline'}}
          {{if @isLight 'pix-tooltip__content--light'}}
          {{if @isWide 'pix-tooltip__content--wide'}}"
      >
        {{yield to="tooltip"}}
      </span>
    {{/if}}
  {{/if}}
</div>