<div class="pix-radio-button {{@class}}">
  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @size={{@size}}
    @screenReaderOnly={{@screenReaderOnly}}
    @isDisabled={{this.isDisabled}}
    @inlineLabel={{true}}
    @wrappedElement={{true}}
  >
    <input
      type="radio"
      id={{this.id}}
      class="pix-radio-button__input"
      value={{@value}}
      aria-disabled={{@isDisabled}}
      {{on "click" this.avoidCheckedStateChangeIfDisabled}}
      ...attributes
    />
    {{yield to="label"}}
  </PixLabel>
</div>