<div class="pix-checkbox">
  <label
    class="pix-checkbox__label {{this.labelSizeClass}} {{if @screenReaderOnly 'sr-only'}}"
    for={{@id}}
  >
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      yield required to give a label for PixCheckBox
      {{@id}}.
    {{/if}}
  </label>
  <input
    id={{@id}}
    type="checkbox"
    class="pix-checkbox__input {{if @isIndeterminate ' pix-checkbox__input--indeterminate'}}"
    checked={{@checked}}
    ...attributes
  />
</div>