<div class="pix-checkbox">
  <label class="pix-checkbox__label {{this.labelSizeClass}}" for={{this.id}}>
    {{this.label}}
  </label>
  <input
    id={{this.id}}
    type="checkbox"
    aria-label={{this.ariaLabel}}
    class="pix-checkbox__input {{if @isIndeterminate ' pix-checkbox__input--indeterminate'}}"
    ...attributes
  />
</div>