<label for={{@for}} class={{this.className}} ...attributes>
  {{#if (has-block "inputElement")}}
    {{yield to="inputElement"}}
  {{/if}}

  <span class={{if @screenReaderOnly "screen-reader-only"}}>
    {{#if @requiredLabel}}
      <abbr title={{@requiredLabel}} class="mandatory-mark">*</abbr>
    {{/if}}

    {{yield}}

    {{#if @subLabel}}
      <span class="pix-label__sub-label">{{@subLabel}}</span>
    {{/if}}
  </span>
</label>