<LinkTo @route={{this.route}}
        @activeClass="pix-link-back--active"
        class="pix-link-back pix-link-back--{{this.shade}}"
        ...attributes>

  {{#if @text}}
    <span aria-hidden="true" class="pix-link-back__icon">{{fa-icon 'arrow-left'}}</span>
    <span class="pix-link-back__text">{{ @text }}</span>
  {{else}}
    <span title="Flèche de retour" class="pix-link-back__icon">{{fa-icon 'arrow-left'}}</span>
  {{/if}}

</LinkTo>
