<section class="indicator-card" ...attributes>
  {{#if @isLoading}}
    <p class="screen-reader-only">{{@loadingMessage}}</p>
    <div class="indicator-card__icon" aria-hidden="true"></div>
    <div class="indicator-card__content" aria-hidden="true"></div>
  {{else}}
    <div id={{this.iconId}} class="indicator-card__icon {{this.color}}" aria-hidden="true">
      <FaIcon @icon={{@icon}} @prefix={{@iconPrefix}} />
    </div>
    <dl class="indicator-card__content">
      <div class="indicator-card__title">
        <dt>{{@title}}</dt>
        {{#if @info}}
          <PixTooltip
            @id={{this.tooltipId}}
            @position="top"
            @isWide={{true}}
            class="indicator-card__tooltip hide-on-mobile"
          >
            <:triggerElement>
              <FaIcon
                @icon="circle-question"
                class="indicator-card__tooltip-icon"
                tabindex="0"
                aria-describedby={{this.tooltipId}}
              />
            </:triggerElement>
            <:tooltip>
              {{@info}}
            </:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
      <dd class="indicator-card__value">{{yield}}</dd>
      <p class="indicator-card__sub">
        {{yield to="sub"}}
      </p>
    </dl>
  {{/if}}
</section>