<div class="pix-select">

  {{#if @isSearchable}}

    <input
      list="{{this.datalistId}}"
      {{on "input" this.onChange}}
      class="{{if this.isValid "pix-select--is-valid"}} {{if this.isSmall "pix-select--small"}}"
      ...attributes
    />

    <datalist id={{this.datalistId}}>
      {{#each @options as |opt|}}
        <option label={{opt.label}}>{{opt.label}}</option>
      {{/each}}
    </datalist>

  {{else}}

    <select
      class="{{if this.isSmall "pix-select--small"}}"
      {{on 'change' this.onChange}}
      ...attributes
    >
      {{#if (not-eq @emptyOptionLabel undefined)}}
        {{#if @emptyOptionNotSelectable}}
          <option value="" hidden>{{@emptyOptionLabel}}</option>
        {{else}}
          <option value="">{{@emptyOptionLabel}}</option>
        {{/if}}
      {{/if}}
      {{#each @options as |opt|}}
        <option value={{opt.value}} defaultSelected={{eq @selectedOption opt.value}}>
          {{opt.label}}
        </option>
      {{/each}}
    </select>
    <FaIcon class='pix-select__icon' @icon="chevron-down" />

  {{/if}}
</div>
