<div
  class="pix-select"
  {{on-click-outside this.hideDropdown}}
  {{on-arrow-down-up-action this.listId this.showDropdown this.isExpanded}}
  {{on-escape-action this.hideDropdown}}
>
  <label for={{@selectId}} class="pix-select__label">
    {{@selectLabel}}
  </label>

  {{#if @selectSubLabel}}
    <span class="pix-select__sub-label">{{@selectSubLabel}}</span>
  {{/if}}

  <button
    type="button"
    id={{@selectId}}
    class="pix-select__button{{this.className}}"
    {{on "click" this.toggleDropdown}}
    aria-expanded={{this.isAriaExpanded}}
    aria-controls={{concat "listbox-" @selectId}}
  >
    {{this.innerText}}

    <FaIcon
      class="pix-select__button__dropdown-icon"
      @icon={{if this.isExpanded "chevron-up" "chevron-down"}}
    />
  </button>
  <div class="pix-select__dropdown{{unless this.isExpanded ' pix-select__dropdown--closed'}}">
    {{#if @isSearchable}}
      <div class="pix-select__search">
        <FaIcon class="pix-select__search__icon" @icon="magnifying-glass" />
        <label class="screen-reader-only" for={{this.searchInputId}}>{{@searchLabel}}</label>
        <input
          class="pix-select__search__input"
          id={{this.searchInputId}}
          autocomplete="off"
          tabindex={{if this.isExpanded "0" "-1"}}
          placeholder={{@searchLabel}}
          {{on "input" this.filterOptions}}
        />
      </div>
    {{/if}}
    <div role="listbox" id={{this.listId}} class="pix-select__options">
      {{#if this.displayCategory}}
        {{#each this.results as |element index|}}
          <ul
            class="pix-select-options__category"
            role="group"
            aria-labelledby={{if this.displayCategory (concat "cat-" @selectId "-" index)}}
          >
            {{#if this.displayCategory}}
              {{! template-lint-disable no-invalid-role }}
              {{!https://www.w3.org/WAI/ARIA/apg/example-index/listbox/listbox-grouped.html}}
              <li
                class="pix-select-options-category__name"
                role="presentation"
                id={{concat "cat-" @selectId "-" index}}
              >
                {{element.category}}
              </li>
            {{/if}}

            {{#each element.options as |option|}}
              <li
                class="pix-select-options-category__option{{if
                    (eq option.value this.selectedOption)
                    ' pix-select-options-category__option--selected'
                  }}"
                role="option"
                tabindex={{if this.isExpanded "0" "-1"}}
                aria-selected={{if (eq option.value this.selectedOption) "true" "false"}}
                {{on "click" (fn this.onSelect option)}}
                {{on-enter-action (fn this.onSelect option)}}
              >
                {{option.label}}
              </li>
            {{/each}}
          </ul>
        {{/each}}
      {{else}}
        {{#each this.results as |option|}}
          <li
            class="pix-select-options-category__option{{if
                (eq option.value this.selectedOption)
                ' pix-select-options-category__option--selected'
              }}"
            role="option"
            tabindex={{if this.isExpanded "0" "-1"}}
            aria-selected={{if (eq option.value this.selectedOption) "true" "false"}}
            {{on "click" (fn this.onSelect option)}}
            {{on-enter-action (fn this.onSelect option)}}
          >
            {{option.label}}
          </li>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
