<div>
  <div class="{{if @screenReaderOnly 'screen-reader-only'}}">
    <label class="pix-filterable-and-searchable-select__label" for={{this.id}}>
      {{#if @requiredText}}
        <abbr class="mandatory-mark" title="{{@requiredText}}" aria-hidden="true">*</abbr>
      {{/if}}
      {{@label}}
    </label>
    {{#if @subLabel}}
      <span class="pix-select__sub-label">{{@subLabel}}</span>
    {{/if}}
  </div>
  <div
    class="pix-filterable-and-searchable-select{{if
        @errorMessage
        ' pix-filterable-and-searchable-select--error'
      }}"
  >
    <PixMultiSelect
      @values={{this.selectedCategories}}
      @label={{@categoriesLabel}}
      @options={{this.categories}}
      @onChange={{this.selectCategories}}
      @screenReaderOnly={{true}}
      @className="pix-filterable-and-searchable-select__pix-multi-select"
    >
      <:placeholder>{{this.categoriesPlaceholder}}</:placeholder>
      <:default as |option|>{{option.label}}</:default>
    </PixMultiSelect>
    <PixSelect
      @id={{this.id}}
      @placeholder={{@placeholder}}
      @value={{@value}}
      @options={{this.selectableOptions}}
      @onChange={{@onChange}}
      @isSearchable={{@isSearchable}}
      @searchLabel={{@searchLabel}}
      @screenReaderOnly={{true}}
      @hideDefaultOption={{@hideDefaultOption}}
      @className="pix-filterable-and-searchable-select__pix-select"
    />
  </div>
  {{#if @errorMessage}}
    <p class="pix-filterable-and-searchable-select__error-message">{{@errorMessage}}</p>
  {{/if}}
</div>