<div class="pix-dropdown">
  {{#if this.label}}
    <label id={{@id}} class="pix-dropdown__label">{{this.label}}</label>
  {{/if}}
  <div class="pix-dropdown__controller">
    <button
      type="button"
      class="pix-dropdown__controller--placeholder{{if this.isExpanded ' expanded'}}"
      aria-label={{if this.isExpanded @collapseLabel @expandLabel}}
      {{on "click" this.toggleDropdown}}
      {{on "keyup" this.navigateThroughOptions}}
    >
      <p
        title={{this.placeholder}}
        class="pix-dropdown__controller--placeholder-text{{unless
            this.hasSelectedOption
            ' default'
          }}"
      >{{this.placeholder}}</p>
    </button>
    {{#if this.hasSelectedOption}}
      <button
        type="button"
        class="pix-dropdown__controller--clear"
        {{on "click" this.clearSelection}}
        aria-label={{@clearLabel}}
      >
        <FaIcon @icon="times" />
      </button>
    {{/if}}
    <FaIcon
      class="pix-dropdown__controller--chevron"
      @icon={{if this.isExpanded "chevron-up" "chevron-down"}}
    />
  </div>
  <div
    role="listbox"
    id={{this.menuId}}
    tabindex="-1"
    class="pix-dropdown__menu{{if this.isExpanded ' expanded'}}"
    aria-labelledby={{if this.label @id}}
    aria-label={{unless this.label @placeholder}}
    aria-hidden={{if this.isExpanded "false" "true"}}
    aria-activedescendant={{if this.selectedOption this.selectedOption.value}}
    {{on "keyup" this.navigateThroughOptions}}
    {{on "scroll" this.incrementPage}}
  >
    {{#if @isSearchable}}
      <div class="pix-dropdown__menu--search">
        <FaIcon class="pix-dropdown__menu--search-icon" @icon="search" />
        <label
          class="pix-dropdown__menu--search-input-label"
          for={{this.searchInputId}}
        >{{@searchPlaceholder}}</label>
        <input
          class="pix-dropdown__menu--search-input"
          id={{this.searchInputId}}
          autocomplete="off"
          tabindex={{unless this.isExpanded "-1"}}
          placeholder={{@searchPlaceholder}}
          {{on "input" this.filterOptions}}
        />
      </div>
    {{/if}}
    {{#each this.options as |opt index|}}
      {{#if (lt index this.showLimit)}}
        <div
          role="option"
          id={{opt.value}}
          tabindex="-1"
          class="pix-dropdown__menu--option{{if
              (eq this.selectedOption.value opt.value)
              ' selected'
            }}"
          aria-selected={{if (eq this.selectedOption.value opt.value) "true"}}
          {{on "click" (fn this.selectOption opt)}}
          {{on "mouseover" this.resetPreviouslyFocused}}
          {{on "keypress" (fn this.onOptionKeyPress opt)}}
        >
          {{opt.label}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>