<div class='pix-filter-banner' ...attributes>
  <div class='pix-filter-banner__container-left'>
    {{#if this.displayTitle}}
      <p class="pix-filter-banner__title">{{@title}}</p>
    {{/if}}
    <div class="pix-filter-banner__content">
      {{yield}}
    </div>
  </div>
  <div class="pix-filter-banner__container-right">
    {{#if this.displayDetails}}
      <p class="pix-filter-banner__details">{{@details}}</p>
    {{/if}}
    {{#if this.displayClearFilters}}
      <div class="pix-filter-banner__button-container">
        <PixButton class="pix-filter-banner__button" @shape="squircle" @size="small" @triggerAction={{@onClearFilters}}>
          <FaIcon class="pix-filter-banner-button__icon" @icon='trash-alt' @prefix='far'/>
            {{@clearFiltersLabel}}
        </PixButton>
      </div>
    {{/if}}
  </div>
</div>
