<label class="pix-checkbox {{@class}}" for={{@id}}>
  <input
    id={{@id}}
    type="checkbox"
    class="pix-checkbox__input {{if @isIndeterminate ' pix-checkbox__input--indeterminate'}}"
    checked={{@checked}}
    ...attributes
  />

  {{#if (has-block)}}
    <span
      class="pix-checkbox__label {{if @screenReaderOnly 'sr-only'}} {{this.labelSizeClass}}"
    >{{yield}}</span>
  {{else}}
    yield required to give a label for PixCheckBox
    {{@id}}.
  {{/if}}
</label>