<div class="pix-search-input {{if @inlineLabel ' pix-search-input--inline'}}">
  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @subLabel={{@subLabel}}
    @size={{@size}}
    @screenReaderOnly={{@screenReaderOnly}}
    @inlineLabel={{@inlineLabel}}
  >
    {{yield to="label"}}
  </PixLabel>

  <div class="pix-search-input__input-container">
    <PixIcon @name="search" />
    <input
      id={{this.id}}
      class="pix-search-input__input"
      name={{@inputName}}
      placeholder={{@placeholder}}
      value={{this.initialValue}}
      {{on "input" this.onSearch}}
      ...attributes
    />
  </div>
</div>