<div class="pix-checkbox {{@class}}">
  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @size={{@size}}
    @inlineLabel={{true}}
    @screenReaderOnly={{@screenReaderOnly}}
    @isDisabled={{@isDisabled}}
    @wrappedElement={{true}}
  >
    <input
      type="checkbox"
      id={{this.id}}
      class={{this.inputClasses}}
      checked={{@checked}}
      aria-disabled={{@isDisabled}}
      ...attributes
    />

    {{yield to="label"}}
  </PixLabel>
</div>