<div
  class="pix-modal__overlay {{unless @showModal ' pix-modal__overlay--hidden'}}"
  {{on "click" this.closeAction}}
  {{trap-focus @showModal}}
  {{on-escape-action this.closeAction}}
>
  <div
    class="pix-modal"
    role="dialog"
    aria-labelledby="modal-title"
    aria-describedby="modal-content"
    aria-modal="true"
    ...attributes
  >
    <header class="pix-modal__header">
      <h1 id="modal-title" class="pix-modal__title">{{@title}}</h1>
      <PixIconButton
        @icon="xmark"
        @triggerAction={{@onCloseButtonClick}}
        @ariaLabel="Fermer"
        @size="small"
        @withBackground={{true}}
        class="pix-modal__close-button"
      />
    </header>
    <main id="modal-content" class="pix-modal__content">
      {{yield to="content"}}
    </main>
    <footer class="pix-modal__footer">
      {{yield to="footer"}}
    </footer>
  </div>
</div>