<footer class={{this.isCondensed}} {{did-update this.checkCurrentPageAgainstPageCount @pagination}}>
  <section class="pix-pagination__size">
    <span class="pagination-size__label">{{this.beforeResultsPerPage}}</span>
    <PixSelect
      @label={{this.selectPageSizeLabel}}
      @placeholder={{this.pageSize}}
      @screenReaderOnly={{true}}
      class="pagination-size__choice"
      @value={{this.pageSize}}
      @hideDefaultOption={{true}}
      @onChange={{this.changePageSize}}
      @options={{this.pageOptions}}
    />
  </section>
  <section class="pix-pagination__navigation">
    <span>
      {{#if (eq this.pageCount 1)}}
        {{this.pageResults}}
      {{else}}
        {{this.pageInfo}}
      {{/if}}
    </span>
    <div class="pix-pagination-navigation__action">
      <PixIconButton
        class="pix-pagination-navigation__action-button"
        @icon="arrow-left"
        aria-label={{this.previousPageLabel}}
        @triggerAction={{this.goToPreviousPage}}
        @withBackground={{false}}
        @size="big"
        @color="dark-grey"
        disabled={{this.isPreviousPageDisabled}}
        aria-disabled="{{this.isPreviousPageDisabled}}"
      />
      <span>
        {{this.pageNumber}}
      </span>
      <PixIconButton
        class="pix-pagination-navigation__action-button"
        @icon="arrow-right"
        aria-label={{this.nextPageLabel}}
        @triggerAction={{this.goToNextPage}}
        @withBackground={{false}}
        @size="big"
        @color="dark-grey"
        disabled={{this.isNextPageDisabled}}
        aria-disabled="{{this.isNextPageDisabled}}"
      />
    </div>
  </section>
</footer>