<div class="pix-radio-button {{@class}}">
  <input
    type="radio"
    id={{this.id}}
    class="pix-radio-button__input"
    value={{@value}}
    ...attributes
  />
  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @labelSize={{@labelSize}}
    @screenReaderOnly={{@screenReaderOnly}}
    @isDisabled={{@isDisabled}}
    @inlineLabel={{true}}
  >
    {{yield to="label"}}
  </PixLabel>
</div>