<div class="pix-checkbox">
  <label for={{this.id}}>{{this.label}}</label>
  <input
    id={{this.id}}
    type="checkbox"
    aria-label={{this.ariaLabel}}
    class="{{if @isIndeterminate ' pix-checkbox__input--indeterminate'}}"
    ...attributes
  />
</div>