<div class="pix-collapsible {{if this.isUnCollapsed 'pix-collapsible--uncollapsed'}}">

  <button
    type="button"
    {{on "click" this.toggleCollapsible}}
    class="pix-collapsible__title {{if this.isUnCollapsed 'pix-collapsible__title--uncollapsed'}}"
    aria-controls={{this.contentId}}
    aria-expanded={{if this.isUnCollapsed "true" "false"}}
    ...attributes
  >
    <span class="pix-collapsible-title__container">
      {{#if @titleIcon}}
        <FaIcon @icon={{@titleIcon}} class="pix-collapsible-title__icon" />
      {{/if}}

      {{#if (has-block "title")}}
        {{yield to="title"}}
      {{else}}
        {{this.title}}
      {{/if}}
    </span>

    <FaIcon
      @icon="{{if this.isCollapsed 'plus' 'minus'}}"
      class="pix-collapsible-title__toggle-icon"
    />
  </button>

  <div
    id={{this.contentId}}
    aria-hidden={{if this.isCollapsed "true" "false"}}
    class="pix-collapsible__content
      {{if this.isUnCollapsed ' pix-collapsible__content--uncollapse'}}"
  >
    {{#if this.isContentRendered}}
      {{yield}}
    {{/if}}
  </div>
</div>