<div class='pix-textarea'>
  {{#if @maxlength}}
    <Textarea
      id={{@id}}
      @value={{@value}}
      maxlength={{@maxlength}}
      ...attributes
    />
    <p>{{this.textLengthIndicator}} / {{@maxlength}}</p>
  {{else}}
    <Textarea id={{@id}} @value={{@value}} ...attributes />
  {{/if}}
</div>
