<div class="pix-input {{if @inlineLabel ' pix-input--inline'}}">
  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @subLabel={{@subLabel}}
    @size={{@size}}
    @screenReaderOnly={{@screenReaderOnly}}
    @inlineLabel={{@inlineLabel}}
  >
    {{yield to="label"}}
  </PixLabel>
  <div>
    <div class="pix-input__container">
      <input
        id={{this.id}}
        class="pix-input__input {{this.validationStatusClassName}}"
        value={{@value}}
        aria-required="{{if @requiredLabel true false}}"
        required={{if @requiredLabel true false}}
        aria-describedby={{this.ariaDescribedBy}}
        ...attributes
      />

      {{#if this.hasError}}
        <FaIcon @icon="xmark" class="pix-input__error-icon" />
      {{/if}}
      {{#if this.hasSuccess}}
        <FaIcon @icon="check" class="pix-input__success-icon" />
      {{/if}}
    </div>

    {{#if this.hasErrorMessage}}
      <p id={{this.ariaDescribedBy}} class="pix-input__error-message">{{@errorMessage}}</p>
    {{/if}}
  </div>
</div>