<div>
  <div class="{{if @screenReaderOnly 'screen-reader-only'}}">
    <label
      class="pix-filterable-and-searchable-select__label"
      id={{this.id}}
      {{on "click" this.focusMultiSelect}}
    >
      {{#if @requiredText}}
        <abbr class="mandatory-mark" title="{{@requiredText}}" aria-hidden="true">*</abbr>
      {{/if}}
      {{@label}}
    </label>
    {{#if @subLabel}}
      <span class="pix-select__sub-label">{{@subLabel}}</span>
    {{/if}}
  </div>
  <div
    aria-labelledby={{this.id}}
    class="pix-filterable-and-searchable-select{{if
        @errorMessage
        ' pix-filterable-and-searchable-select--error'
      }}"
  >
    <PixMultiSelect
      @id={{@categoriesId}}
      @values={{this.selectedCategories}}
      @label={{@categoriesLabel}}
      @placeholder={{@categoriesPlaceholder}}
      @options={{this.categories}}
      @onChange={{this.selectCategories}}
      @screenReaderOnly={{true}}
      @className="pix-filterable-and-searchable-select__pix-multi-select"
      as |option|
    >
      {{option.label}}
    </PixMultiSelect>
    <PixSelect
      @label={{@selectLabel}}
      @placeholder={{@placeholder}}
      @value={{@value}}
      @options={{this.selectableOptions}}
      @onChange={{@onChange}}
      @isSearchable={{@isSearchable}}
      @searchLabel={{@searchLabel}}
      @screenReaderOnly={{true}}
      @className="pix-filterable-and-searchable-select__pix-select"
    />
  </div>
  {{#if @errorMessage}}
    <p class="pix-filterable-and-searchable-select__error-message">{{@errorMessage}}</p>
  {{/if}}
</div>