<div class="pix-input">
  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @subLabel={{@information}}
    @labelSize={{@labelSize}}
    @screenReaderOnly={{@screenReaderOnly}}
  >
    {{@label}}
  </PixLabel>

  <div class="pix-input__container">
    <input
      id={{this.id}}
      class="pix-input__input {{this.validationStatusClassName}}"
      value={{@value}}
      aria-required="{{if @requiredLabel true false}}"
      required={{if @requiredLabel true false}}
      aria-describedby={{if (eq @validationStatus "error") "text-input-error"}}
      ...attributes
    />

    {{#if (eq @validationStatus "error")}}
      <FaIcon @icon="xmark" class="pix-input__error-icon" />
    {{/if}}
    {{#if (eq @validationStatus "success")}}
      <FaIcon @icon="check" class="pix-input__success-icon" />
    {{/if}}
  </div>

  {{#if (and (eq @validationStatus "error") @errorMessage)}}
    <p id="text-input-error" class="pix-input__error-message">{{@errorMessage}}</p>
  {{/if}}
</div>