<LinkTo
  @route={{this.route}}
  @models={{if @model (array @model) this.defaultModel}}
  class="pix-return-to pix-return-to--{{this.shade}}"
  ...attributes
>

  {{#if (has-block)}}
    <span aria-hidden="true" class="pix-return-to__icon"><FaIcon @icon="arrow-left" /></span>
    <span class="pix-return-to__text"> {{yield}} </span>
  {{else}}
    <span title="Flèche de retour" class="pix-return-to__icon"><FaIcon @icon="arrow-left" /></span>
  {{/if}}

</LinkTo>