<footer class="pix-pagination">
  <section class="pix-pagination__size">
    <p class="pagination-size__label">{{this.beforeResultsPerPage}}</p>
    <PixSelect
      aria-label={{this.selectPageSizeLabel}}
      class="pagination-size__choice"
      @selectedOption={{this.pageSize}}
      @onChange={{this.changePageSize}}
      @options={{this.pageOptions}}
    />
  </section>
  <section class="pix-pagination__navigation">
    <p>
      {{#if (eq this.pageCount 1)}}
        {{this.pageResults}}
      {{else}}
        {{this.pageInfo}}
      {{/if}}
    </p>
    <PixIconButton
      @icon="arrow-left"
      aria-label={{this.previousPageLabel}}
      @triggerAction={{this.goToPreviousPage}}
      @withBackground={{false}}
      @size="big"
      @color="dark-grey"
      disabled={{this.isPreviousPageDisabled}}
      aria-disabled="{{this.isPreviousPageDisabled}}"
      class="arrow arrow--previous"
    />
    <p>
      {{this.pageNumber}}
    </p>
    <PixIconButton
      @icon="arrow-right"
      aria-label={{this.nextPageLabel}}
      @triggerAction={{this.goToNextPage}}
      @withBackground={{false}}
      @size="big"
      @color="dark-grey"
      disabled={{this.isNextPageDisabled}}
      aria-disabled="{{this.isNextPageDisabled}}"
      class="arrow arrow--next"
    />
  </section>
</footer>