<label for={{@for}} class={{this.className}} ...attributes>
  {{#if this.hasError}}
    <PixIcon
      @name="cancel"
      @plainIcon={{true}}
      @ariaHidden={{true}}
      class="pix-label-wrapped__state-icon"
    />
  {{/if}}
  {{#if this.hasSuccess}}
    <PixIcon
      @name="checkCircle"
      @plainIcon={{true}}
      @ariaHidden={{true}}
      class="pix-label-wrapped__state-icon"
    />
  {{/if}}

  {{yield to="inputElement"}}

  <span class="{{if @screenReaderOnly 'screen-reader-only'}}">
    {{#if @requiredLabel}}
      <abbr title={{@requiredLabel}} class="mandatory-mark">*</abbr>
    {{/if}}

    {{yield}}

    {{#if @subLabel}}
      <span class="pix-label__sub-label">{{@subLabel}}</span>
    {{/if}}
  </span>
</label>