<div>
  <PixSelect
    @label={{@selectLabel}}
    @placeholder={{@selectPlaceholder}}
    @options={{@selectOptions}}
    @onChange={{@selectOnChange}}
    @screenReaderOnly={{true}}
  />
  <PixMultiSelect
    @id={{@multiSelectId}}
    @label={{@multiSelectLabel}}
    @placeholder={{@multiSelectPlaceholder}}
    @options={{@multiSelectOptions}}
    @onChange={{@multiSelectOnChange}}
    @screenReaderOnly={{true}}
  />
</div>
