<div class="pix-checkbox {{@class}}">
  <input
    type="checkbox"
    id={{this.id}}
    class={{this.inputClasses}}
    checked={{@checked}}
    aria-disabled={{@isDisabled}}
    ...attributes
  />

  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @size={{@size}}
    @inlineLabel={{true}}
    @screenReaderOnly={{@screenReaderOnly}}
    @isDisabled={{@isDisabled}}
  >
    {{yield to="label"}}
  </PixLabel>
</div>