<div class="pix-input">
  {{#if @label}}
    <label for={{this.id}} class="pix-input__label">
      {{#if @requiredLabel}}
        <abbr title={{@requiredLabel}} class="mandatory-mark" aria-hidden="true">*</abbr>
      {{/if}}

      {{@label}}

      {{#if @information}}
        <span class="pix-input__sub-label">{{@information}}</span>
      {{/if}}
    </label>
  {{/if}}

  <div class="pix-input__container">
    <input
      id={{this.id}}
      class="pix-input__input {{this.validationStatusClassName}}"
      value={{@value}}
      aria-label={{this.ariaLabel}}
      aria-required="{{if @requiredLabel true false}}"
      required={{if @requiredLabel true false}}
      aria-describedby={{if (eq @validationStatus "error") "text-input-error"}}
      ...attributes
    />

    {{#if (eq @validationStatus "error")}}
      <FaIcon @icon="xmark" class="pix-input__error-icon" />
    {{/if}}
    {{#if (eq @validationStatus "success")}}
      <FaIcon @icon="check" class="pix-input__success-icon" />
    {{/if}}
  </div>

  {{#if (and (eq @validationStatus "error") @errorMessage)}}
    <p id="text-input-error" class="pix-input__error-message">{{@errorMessage}}</p>
  {{/if}}
</div>