<div class="pix-filterable-and-searchable-select">
  <PixMultiSelect
    @id={{@multiSelectId}}
    @label={{@multiSelectLabel}}
    @placeholder={{@multiSelectPlaceholder}}
    @options={{this.categories}}
    @onChange={{@multiSelectOnChange}}
    @screenReaderOnly={{true}}
    @className="pix-filterable-and-searchable-select__pix-multi-select"
    as |option|
  >
    {{option.label}}
  </PixMultiSelect>
  <PixSelect
    @label={{@selectLabel}}
    @placeholder={{@selectPlaceholder}}
    @options={{@selectOptions}}
    @onChange={{@selectOnChange}}
    @screenReaderOnly={{true}}
    @className="pix-filterable-and-searchable-select__pix-select"
  />
</div>