<footer class="pagination-control">
  <section class="page-size">
    <p class="page-size__label">{{@beforeResultsPerPage}}</p>
    <PixSelect
      aria-label= {{@selectPageSizeLabel}}
      class="page-size__choice"
      @selectedOption={{this.pageSize}}
      @onChange={{this.changePageSize}}
      @options={{this.pageOptions}}
    />
  </section>
  <section class="page-navigation">
    <p>
      {{#if (eq this.pageCount 1)}}
        {{@pageResults}}
      {{else}}
        {{@pageInfo}}
      {{/if}}
    </p>
    <PixIconButton
      @icon="arrow-left"
      aria-label={{@previousPageLabel}}
      @triggerAction={{this.goToPreviousPage}}
      @withBackground={{false}}
      @size="small"
      @color="dark-grey"
      disabled={{this.isPreviousPageDisabled}}
      aria-disabled="{{this.isPreviousPageDisabled}}"
      class="page-navigation__arrow page-navigation__arrow--previous"
    />
    <p>
      {{@pageNumber}}
    </p>
    <PixIconButton
      @icon="arrow-right"
      aria-label={{@nextPageLabel}}
      @triggerAction={{this.goToNextPage}}
      @withBackground={{false}}
      @size="small"
      @color="dark-grey"
      disabled={{this.isNextPageDisabled}}
      aria-disabled="{{this.isNextPageDisabled}}"
      class="page-navigation__arrow page-navigation__arrow--next"
    />
  </section>
</footer>