<button
  type={{this.type}}
  class={{this.className}}
  {{on "click" this.triggerAction}}
  disabled={{this.isDisabled}}
  aria-disabled="{{this.isDisabled}}"
  ...attributes
>
  {{#if this.isLoading}}
    <div class="loader loader--{{this.loadingColor}}">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <span class="loader__not-visible-text">{{yield}}</span>
  {{else}}
    {{#if @iconBefore}}
      <PixIcon
        class="pix-button__icon pix-button__icon--before"
        @name={{@iconBefore}}
        @plainIcon={{@plainIconBefore}}
      />
    {{/if}}
    {{yield}}
    {{#if @iconAfter}}
      <PixIcon
        class="pix-button__icon pix-button__icon--after"
        @name={{@iconAfter}}
        @plainIcon={{@plainIconAfter}}
      />
    {{/if}}
  {{/if}}
</button>