<div class="pix-radio-button {{@class}}">
  <input
    type="radio"
    id={{this.id}}
    class="pix-radio-button__input"
    value={{@value}}
    aria-disabled={{this.isDisabled}}
    {{on "click" this.avoidCheckedStateChangeIfIsDisabled}}
    ...attributes
  />

  <PixLabel
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @subLabel={{@subLabel}}
    @size={{@size}}
    @screenReaderOnly={{@screenReaderOnly}}
    @isDisabled={{this.isDisabled}}
    @inlineLabel={{true}}
  >
    {{yield to="label"}}
  </PixLabel>
</div>