<span class='pix-tooltip' ...attributes>

  {{yield}}

  {{#if @text}}
    <span
      id={{@id}}
      role="tooltip"
      class='
        pix-tooltip__content pix-tooltip__content--{{this.position}}
        {{if @isInline 'pix-tooltip__content--inline'}}
        {{if @isLight 'pix-tooltip__content--light'}}
        {{if @isWide 'pix-tooltip__content--wide'}}'
      >
      {{@text}}
    </span>
  {{/if}}

</span>
