<div class="pix-checkbox {{@class}}">
  <PixLabelWrapped
    @for={{this.id}}
    @requiredLabel={{@requiredLabel}}
    @subLabel={{@subLabel}}
    @size={{@size}}
    @inlineLabel={{true}}
    @screenReaderOnly={{@screenReaderOnly}}
    @isDisabled={{this.isDisabled}}
    @variant={{@variant}}
    @state={{@state}}
  >
    <:inputElement>
      <input
        type="checkbox"
        id={{this.id}}
        class={{this.inputClasses}}
        checked={{@checked}}
        aria-disabled={{this.isDisabled}}
        {{on "click" this.avoidCheckedStateChangeIfIsDisabled}}
        ...attributes
      />
    </:inputElement>
    <:default>
      {{yield to="label"}}
    </:default>
  </PixLabelWrapped>
</div>