<div
  class="pix-select"
  {{on-click-outside this.hideDropdown}}
  {{on-arrow-down-up-action this.listId this.showDropdown this.isExpanded}}
  {{on-escape-action this.hideDropdown @labels.select.id}}
>
  <label for={{@labels.select.id}} class="pix-select__label">
    {{@labels.select.label}}
  </label>

  {{#if @labels.select.subLabel}}
    <span class="pix-select__sub-label">{{@labels.select.subLabel}}</span>
  {{/if}}

  <button
    type="button"
    id={{@labels.select.id}}
    class="pix-select__button"
    {{on "click" this.toggleDropdown}}
    aria-expanded={{this.isAriaExpanded}}
    aria-controls={{concat "listbox-" @labels.select.id}}
  >
    {{this.innerText}}

    <FaIcon
      class="pix-select__button__dropdown-icon"
      @icon={{if this.isExpanded "chevron-up" "chevron-down"}}
    />
  </button>
  <div class="pix-select__dropdown{{unless this.isExpanded ' pix-select__dropdown--closed'}}">
    {{#if @isSearchable}}
      <div class="pix-select__search">
        <FaIcon class="pix-select__search__icon" @icon="magnifying-glass" />
        <label class="screen-reader-only" for={{@labels.search.id}}>{{@labels.search.label}}</label>
        <input
          class="pix-select__search__input"
          id={{@labels.search.id}}
          autocomplete="off"
          tabindex={{if this.isExpanded "0" "-1"}}
          placeholder={{@labels.search.label}}
          {{on "input" this.filterOptions}}
        />
      </div>
    {{/if}}
    <div role="listbox" id={{this.listId}} class="pix-select__options">
      {{#each this.results as |element index|}}
        <ul
          class="pix-select-options__category"
          role="group"
          aria-labelledby={{if this.displayCategory (concat "cat-" @labels.select.id "-" index)}}
        >
          {{#if this.displayCategory}}
            {{! template-lint-disable no-invalid-role }}
            {{!https://www.w3.org/WAI/ARIA/apg/example-index/listbox/listbox-grouped.html}}
            <li
              class="pix-select-options-category__name"
              role="presentation"
              id={{concat "cat-" @labels.select.id "-" index}}
            >
              {{element.category}}
            </li>
          {{/if}}

          {{#each element.options as |option|}}
            <li
              class="pix-select-options-category__option{{if (eq option.value this.selectedOption) " pix-select-options-category__option--selected"}}"
              role="option"
              tabindex={{if this.isExpanded "0" "-1"}}
              aria-selected={{if (eq option.value this.selectedOption) "true" "false"}}
              {{on "click" (fn this.onSelect option)}}
              {{on-enter-action (fn this.onSelect option)}}
            >
              {{option.label}}
            </li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  </div>
</div>