<div class='pix-textarea'>

  {{#if this.label}}
    <label for={{@id}} class="pix-textarea__label">{{this.label}}</label>
  {{/if}}

    <Textarea
      id={{@id}}
      @value={{@value}}
      maxlength={{if @maxlength @maxlength}}
      ...attributes
    />
  {{#if @maxlength}}
    <p>{{this.textLengthIndicator}} / {{@maxlength}}</p>
  {{/if}}
</div>
