<div class="pix-select">

  {{#if this.label}}
    <label for={{@id}} class="pix-select__label">{{this.label}}</label>
  {{/if}}

  {{#if @isSearchable}}

    <input
      id={{@id}}
      list="{{this.datalistId}}"
      {{on "input" this.onChange}}
      class="{{if this.isValid 'pix-select--is-valid'}} {{if this.isBig 'pix-select--big'}}"
      ...attributes
      autocomplete="off"
    />

    <datalist id={{this.datalistId}}>
      {{#each @options as |opt|}}
        <option label={{opt.label}}>{{opt.label}}</option>
      {{/each}}
    </datalist>

  {{else}}

    <select
      id={{@id}}
      class="{{if this.isBig 'pix-select--big'}}"
      {{on "change" this.onChange}}
      ...attributes
    >
      {{#if (not-eq @emptyOptionLabel undefined)}}
        {{#if @emptyOptionNotSelectable}}
          <option value="" hidden>{{@emptyOptionLabel}}</option>
        {{else}}
          <option value="">{{@emptyOptionLabel}}</option>
        {{/if}}
      {{/if}}
      {{#each @options as |opt|}}
        {{#if (eq @selectedOption opt.value)}}
          {{! https://github.com/emberjs/ember.js/issues/15484
                ember-prop-modifier let us fix a bug about selected attribute in FireFox }}
          <option value={{opt.value}} {{prop selected="true"}}>
            {{opt.label}}
          </option>
        {{else}}
          <option value={{opt.value}}>
            {{opt.label}}
          </option>
        {{/if}}
      {{/each}}
    </select>
    <FaIcon class="pix-select__icon" @icon="chevron-down" />

  {{/if}}
</div>