<div class="progress-gauge {{this.themeMode}} {{this.colorClass}}" ...attributes>
  <div class="progress-gauge__text" role="presentation">{{this.percentageValue}}</div>
  <label for={{this.id}} class="screen-reader-only">{{@label}}</label>
  <progress
    class="progress-gauge__bar"
    id={{this.id}}
    max="100"
    value={{this.value}}
  >{{this.value}}%</progress>
  {{#if @subtitle}}
    <p class="progress-gauge__sub-title">{{@subtitle}}</p>
  {{/if}}
</div>