<div class='pix-input-password'>
  {{#if this.label}}
    <label for={{this.id}} class="pix-input__label">{{this.label}}</label>
  {{/if}}
  {{#if @information}}
    <label for={{this.id}} class="pix-input__information">{{@information}}</label>
  {{/if}}
    <div class="pix-input-password__container {{if @errorMessage " pix-input-password__error-container"}}">

      <Input
        id={{this.id}}
        @type={{if this.isPasswordVisible 'text' 'password'}}
        aria-label={{this.ariaLabel}}
        ...attributes
      />

      <PixIconButton
        class="pix-input-password__button {{if @errorMessage " pix-input-password__error-button"}}"
        @icon={{if this.isPasswordVisible 'eye' 'eye-slash'}}
        @ariaLabel={{if this.isPasswordVisible "Masquer le mot de passe" "Afficher le mot de passe"}}
        @triggerAction={{this.togglePasswordVisibility}}
        @size="small"
      />

  </div>

  {{#if @errorMessage}}
    <FaIcon @icon="times" class="pix-input-password__error-icon" />
    <label for={{this.id}} class="pix-input__error-message">{{@errorMessage}}</label>
  {{/if}}
</div>
