<div class="pix-input-password">
  {{#if this.label}}
    <label for={{this.id}} class="pix-input__label">{{this.label}}</label>
  {{/if}}
  {{#if @information}}
    <label for={{this.id}} class="pix-input__information">{{@information}}</label>
  {{/if}}
  <div
    class="pix-input-password__container
      {{if @errorMessage "pix-input-password__error-container"}}
      {{if @prefix "pix-input-password__with-prefix"}}"
  >

    {{#if @prefix}}
      <span class="pix-input-password__prefix">{{@prefix}}</span>
    {{/if}}

    <input
      id={{this.id}}
      type={{if this.isPasswordVisible "text" "password"}}
      value={{@value}}
      aria-label={{this.ariaLabel}}
      ...attributes
    />

    <PixIconButton
      class="pix-input-password__button {{if @errorMessage " pix-input-password__error-button"}}"
      @icon={{if this.isPasswordVisible "eye" "eye-slash"}}
      @ariaLabel={{if this.isPasswordVisible "Masquer le mot de passe" "Afficher le mot de passe"}}
      @triggerAction={{this.togglePasswordVisibility}}
      @size="small"
    />

    {{#if @errorMessage}}
      <FaIcon @icon="times" class="pix-input-password__error-icon" />
    {{/if}}
  </div>

  {{#if @errorMessage}}
    <label for={{this.id}} class="pix-input__error-message">{{@errorMessage}}</label>
  {{/if}}
</div>