<div class="pix-collapsible">

  <button
    class="pix-collapsible__title"
    type="button"
    {{on "click" this.toggleCollapsible}}
    aria-controls={{this.contentId}}
    aria-expanded={{if this.isUnCollapsed "true" "false"}}
    ...attributes
  >
    {{#if @iconName}}
      <PixIcon
        class="pix-collapsible-title__icon"
        @name={{@iconName}}
        @plainIcon={{@plainIcon}}
        @ariaHidden={{true}}
      />
    {{/if}}

    <span>
      {{yield to="title"}}
    </span>

    <span class="pix-collapsible-title__container">
      {{#if @tagContent}}
        <PixTag @color={{@tagColor}}>
          {{@tagContent}}
        </PixTag>
      {{/if}}
      <PixIcon
        class="pix-collapsible-title-container__toggle-icon"
        @name="{{if this.isCollapsed 'chevronBottom' 'chevronTop'}}"
      />
    </span>
  </button>

  <div
    id={{this.contentId}}
    class="pix-collapsible__content"
    aria-hidden={{if this.isCollapsed "true" "false"}}
  >
    {{#if this.isContentRendered}}
      {{yield}}
    {{/if}}
  </div>
</div>