<div class="pix-input">
  {{#if @label}}
    <label for={{this.id}} class="pix-input__label">{{@label}}</label>
  {{/if}}
  {{#if @information}}
    <label for={{this.id}} class="pix-input__information">{{@information}}</label>
  {{/if}}

  <div class="pix-input__container">
    <input id={{this.id}} class={{this.className}} value={{@value}} ...attributes />

    {{#if @errorMessage}}
      <FaIcon @icon="times" class="pix-input__error-icon" />
    {{/if}}

    {{#if @icon}}
      <FaIcon @icon={{@icon}} class="pix-input__icon {{if @isIconLeft "pix-input__icon--left"}}" />
    {{/if}}
  </div>

  {{#if @errorMessage}}
    <label for={{this.id}} class="pix-input__error-message">{{@errorMessage}}</label>
  {{/if}}
</div>