<LinkTo
  @route={{this.route}}
  @models={{if @model (array @model) this.defaultModel}}
  class="pix-return-to pix-return-to--{{this.shade}}"
  ...attributes
>
  {{#if (has-block)}}
    <PixIcon @name="arrowLeft" @ariaHidden={{true}} class="pix-return-to__icon" />
    <span class="pix-return-to__text"> {{yield}} </span>
  {{else}}
    <PixIcon class="pix-return-to__icon" aria-label={{@arrowLabel}} @name="arrowLeft" />
  {{/if}}
</LinkTo>