<PixModal
  @showModal={{this.showModal}}
  @title={{this.title}}
  @onClose={{this.onClose}}
>
  <:content>
    <form>
      <p>
        <label for="test">Input 1</label>
        <input type="text" name="test" id="test">
      </p>
      <p>
        <label for="test2">Input 2</label>
        <input type="checkbox" name="test2" id="test2">
      </p>
    </form>
  </:content>
  <:footer>
    <PixButton
      @backgroundColor="transparent-light"
      @isBorderVisible="true"
      @triggerAction={{this.onClose}}
    >Annuler</PixButton>
    <PixButton @triggerAction={{fn (mut this.showModal) (not this.showModal)}}>Valider</PixButton>
  </:footer>
</PixModal>

<PixButton @triggerAction={{fn (mut this.showModal) (not this.showModal)}}>Ouvrir la modale</PixButton>